@page "/moderation"

<h1>Moderazione</h1>

<table class="grid">
    <thead>
        <tr>
            <th>Report</th>
            <th>Motivo</th>
            <th>Stato</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>demo-report-1</td>
            <td>harassment</td>
            <td>open</td>
            <td><button>Risolvi</button></td>
        </tr>
    </tbody>
</table>
